* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
@import './scrollbar/scrollbar';

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    font-family: 'Be Vietnam', sans-serif;

    a {
        all: unset;
    }

    @import './nav/nav.scss';



    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        // height: 100%;
        // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://csgopedia.com/uploads/blog/image049.jpg') no-repeat fixed;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../imgs/147188.png') no-repeat fixed;
        // background: darkcyan;
        background-size: cover;
        color: white;

        section {
            display: flex;

            & a {
                transition: all .3s ease-in-out;
            }

            & a:hover {

                cursor: pointer;
                color: #DB3F3F;

            }

            & .content {
                @media only screen and (max-width: 1000px) {
                    width: 90%;
                    margin: auto;
                }
            }
        }

        .sectionFirst {
            // display: flex;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));


            .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100vh;
                margin: 0 auto;
                color: #fff;
                text-shadow: 0 0 40px#000;

                .txt {
                    display: flex;
                    // margin: auto 0;

                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;

                    p:first-child {
                        font-size: 4em;
                    }

                    p:nth-child(2) {
                        font-size: 2em;
                    }
                }

                .showmore {
                    display: flex;
                    margin-top: 60px;
                    padding: 0 10px 10px 10px;
                    transition: all .3s ease-in-out;
                    // border: 2px solid #00000000;
                    border-bottom: 2px solid#DB3F3F;

                    // padding-top: 400px;
                    // bottom: 0;

                    &:hover {
                        cursor: pointer;
                        border-bottom: 2px solid rgb(255, 255, 255);
                    }

                    p {
                        font-size: 2.2em;
                    }
                }
            }
        }



        .sectionTwo {
            // display: flex;
            justify-content: center;
            align-items: center;
            // height: 60vw;
            // background: rgba(230, 230, 230, 0.9);
            // border: 1px solid black;
            // overflow: hidden;

            .content {
                color: white;
                margin: 10% 5%;
                width: 80%;
                // min-height: 80%;
                background: rgba(0, 0, 0, 0.568);
                border-bottom: 2px solid #DB3F3F;


                .mixContent {
                    padding: 20px;
                    // margin: 10px;

                    .h1 {
                        font-size: 3em;
                        margin-bottom: 40px;
                    }

                    .h2 {
                        font-size: 1em;
                    }
                }
            }
        }

        .sectionThird {
            // display: flex;
            width: 100%;
            justify-content: center;
            // height: 50vw;
            // background: rgba(230, 230, 230, 0.9);
            // border: 1px solid black;
            overflow: hidden;

            .content {
                margin: 10% 5%;
                width: 80%;
                background: rgba(0, 0, 0, 0.568);
                // padding: 20px;

                .mixContent {
                    width: 100%;
                    padding: 30px;
                    border-bottom: 2px solid #DB3F3F;

                    // margin: 10px;
                    .days {
                        display: flex;
                        justify-content: space-around;
                        // align-items: baseline;
                        width: 100%;

                        @media only screen and (max-width: 1000px) {
                            flex-direction: column;
                        }

                        .dayFirst,
                        .daySecond,
                        .dayThird {
                            width: 30%;

                            @media only screen and (max-width: 1000px) {
                                width: 90%;
                                margin-bottom: 30px;
                            }
                        }

                        .dayFirst {

                            p:nth-child(1) {
                                margin-bottom: 15px;
                                border-bottom: 2px solid #DB3F3F;
                                font-size: 2em;
                            }
                        }

                        .daySecond {
                            // margin: 40px auto;
                            // border: 2px solid #DB3F3F;

                            p:nth-child(1) {
                                margin-bottom: 15px;
                                font-size: 2em;
                                border-bottom: 2px solid #DB3F3F;
                            }
                        }

                        .dayThird {

                            p:nth-child(1) {
                                margin-bottom: 15px;
                                border-bottom: 2px solid #DB3F3F;
                                font-size: 2em;
                            }
                        }
                    }

                    .h1 {
                        font-size: 3em;
                        margin-bottom: 40px;
                    }

                    .h2 {
                        font-size: 1em;
                    }
                }
            }
        }


        .sectionFourth {
            // display: flex;
            justify-content: center;
            align-items: center;
            // height: 60vw;
            // background: rgba(230, 230, 230, 0.9);
            // border: 1px solid black;
            overflow: hidden;

            .content {
                color: white;
                margin: 10% 5%;
                width: 80%;
                // min-height: 80%;
                background: rgba(0, 0, 0, 0.568);
                border-bottom: 2px solid #DB3F3F;

                .mixContent {
                    padding: 20px;
                    // margin: 10px;

                    .h1 {
                        font-size: 3em;
                        margin-bottom: 40px;
                    }

                    .h2 {
                        font-size: 1em;
                    }

                    .showCase {
                        display: flex;
                        justify-content: space-evenly;
                        flex-wrap: wrap;

                        // a:hover {
                        //     cursor: pointer;
                        // }

                        // img {
                        //     margin-right: 10px;
                        //     // max-width: 100%;
                        //     // height: 50%;
                        // }

                        .main-carousel {
                            width: 66%;
                            // width: 80%;
                            height: 100%;

                            .carousel-cell {
                                display: flex;
                                width: 100%;
                                // height: 200px;
                                min-height: 250px;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }


        .sectionFifth,
        .sectionSixth {
            // display: flex;
            justify-content: center;
            align-items: center;
            // height: 100vh;
            // background: rgba(230, 230, 230, 0.9);
            // border: 1px solid black;
            // overflow: hidden;

            .content {
                color: white;
                margin: 10% 5%;
                width: 80%;
                // min-height: 80%;
                background: rgba(0, 0, 0, 0.568);
                border-bottom: 2px solid #DB3F3F;

                .mixContent {
                    padding: 20px;

                    iframe {
                        width: 100%;
                        height: 50vw;
                    }

                    .h1 {
                        font-size: 3em;
                        margin-bottom: 40px;
                    }

                    .h2 {
                        font-size: 1em;

                        // a {
                        //     transition: all .2s ease-in-out;
                        // }

                        // a:hover {
                        //     color: #DB3F3F;
                        //     cursor: pointer;
                        // }
                    }
                }
            }
        }

        .sectionSixth {
            // display: flex;
            justify-content: center;
            // align-items: center;
            // height: 90vh;
        }


        .footer {
            display: block;
            color: #000;
            height: 30px;
            line-height: 30px;
            text-align: center;
            text-shadow: 0 0 15px rgb(141, 141, 141);
            background: whitesmoke;

        }

        /*
chopie
pisałem tą stronkę 4h
także szybko wsiadaj do taksówy nie ma czasu na optymalizacje
ważne że działa
*/
    }
}