@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::--webkit-scrollbar {
    display: none;
}

::--webkit-scrollbar::hover {}

body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://csgopedia.com/uploads/blog/image049.jpg') no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(77, 55, 55, 0.5)), url('https://wallpaperaccess.com/full/147188.png') no-repeat fixed;
    background-size: cover;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
        font-family: 'Be Vietnam', sans-serif;
        color: #fff;

        p:first-child {
            font-size: 4em;
        }

        p:nth-child(2) {
            font-size: 40px;
        }
    }

    iframe {
        margin: 20% 10vw;
    }
}