@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    all: unset;
}

::-webkit-scrollbar:hover {
    display: inline;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    opacity: .1;
    // border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
    opacity: .1;
}


::-webkit-scrollbar-corner {
    background: transparent;
}

// html {
//     scroll-behavior: smooth;
// }

body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://csgopedia.com/uploads/blog/image049.jpg') no-repeat fixed;
    // background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(77, 55, 55, 0.5)), url('https://vmajster.github.io/turniej.zszarki.pl/assets/imgs/147188.png') center no-repeat fixed;
    background-size: cover;

    .nav-visible {
        opacity: 0;
        background: transparent;
    }

    .nav-hidden {
        height: 50px;
        line-height: 50px;
        opacity: 1;
        background: rgba(0, 0, 0, 0.8);
        // background: linear-gradient(rgb(240, 25, 25), rgba(226, 45, 45, 0));
    }

    nav {
        // display: flex;
        position: fixed;
        width: 100vw;
        height: 40px;
        line-height: 40px;
        font-family: 'Be Vietnam', sans-serif;
        color: #fff;
        opacity: 0;
        transition: all .3s ease-in-out;
        border-bottom: 2px solid #DB3F3F;
        // background: transparent;


        &:hover {
            // background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            // transition: all .3s ease-in-out;
            // background: linear-gradient(rgb(240, 25, 25), rgba(226, 45, 45, 0));
        }

        ul {
            display: flex;
            // flex-direction: row;
            justify-content: space-around;
            // display: flex;
            // flex-direction: column;

            // justify-content: center;
            // text-decoration: none;
            // all: unset;

            li {
                // flex-direction: row;
                // all: unset;
                // letter-spacing: 2px;
                list-style-type: none;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
        font-family: 'Be Vietnam', sans-serif;
        color: #fff;

        .txt {
            display: flex;
            // margin: auto 0;

            flex-direction: column;
            // justify-content: center;
            align-items: center;

            p:first-child {
                font-size: 4em;
            }

            p:nth-child(2) {
                font-size: 2em;
            }
        }

        .showmore {
            display: flex;
            margin-top: 60px;
            padding: 0 10px 10px 10px;
            transition: all .3s ease-in-out;
            // border: 2px solid #00000000;
            border-bottom: 2px solid#DB3F3F;

            // padding-top: 400px;
            // bottom: 0;

            &:hover {
                cursor: pointer;
                border-bottom: 3px solid #DB3F3F;
            }

            &:visited {
                opacity: 0;
            }



            p {
                font-size: 2.2em;
            }


        }
    }


    .sectionTwo {
        background: #e6e6e6;

        iframe {
            margin: 20% 10vw;
        }
    }



}