@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
}

::-webkit-scrollbar:hover {
  display: inline;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  opacity: .1;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
  opacity: .1;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Be Vietnam', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.4))), url("../imgs/147188.png") no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../imgs/147188.png") no-repeat fixed;
  background-size: cover;
  color: white;
  /*
chopie
pisałem tą stronkę 4h
także szybko wsiadaj do taksówy nie ma czasu na optymalizacje
ważne że działa
*/
}

.container .nav-visible {
  height: 40px;
  line-height: 40px;
  border: none;
  opacity: 1;
  background: transparent;
}

.container .nav-hidden {
  height: 55px;
  line-height: 55px;
  opacity: 1;
  border-bottom: 2px solid #DB3F3F;
  background: rgba(0, 0, 0, 0.9);
}

.container nav {
  position: fixed;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container nav ul a {
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
  -webkit-transition: border .1s ease-in-out;
  transition: border .1s ease-in-out;
}

.container nav ul a:hover:nth-child(1), .container nav ul a:hover:nth-child(2), .container nav ul a:hover:nth-child(3), .container nav ul a:hover:nth-child(4), .container nav ul a:hover:nth-child(5), .container nav ul a:hover:nth-child(6) {
  cursor: pointer;
  z-index: 2;
  border-bottom: 2px solid white;
}

.container nav ul a li {
  list-style-type: none;
}

.container .sectionFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

.container .sectionFirst .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 0 40px #000;
}

.container .sectionFirst .header .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sectionFirst .header .txt p:first-child {
  font-size: 4em;
}

.container .sectionFirst .header .txt p:nth-child(2) {
  font-size: 2em;
}

.container .sectionFirst .header .showmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding: 0 10px 10px 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid #DB3F3F;
}

.container .sectionFirst .header .showmore:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

.container .sectionFirst .header .showmore p {
  font-size: 2.2em;
}

.container .sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vw;
  overflow: hidden;
}

.container .sectionTwo .content {
  color: white;
  margin: 10% 5%;
  width: 80%;
  background: rgba(0, 0, 0, 0.568);
  border-bottom: 2px solid #DB3F3F;
}

.container .sectionTwo .content .mixContent {
  padding: 20px;
}

.container .sectionTwo .content .mixContent .h1 {
  font-size: 3em;
  margin-bottom: 40px;
}

.container .sectionTwo .content .mixContent .h2 {
  font-size: 1em;
}

.container .sectionThird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.container .sectionThird .content {
  margin: 10% 5%;
  width: 80%;
  background: rgba(0, 0, 0, 0.568);
}

.container .sectionThird .content .mixContent {
  width: 100%;
  padding: 30px;
  border-bottom: 2px solid #DB3F3F;
}

.container .sectionThird .content .mixContent .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .sectionThird .content .mixContent .days .dayFirst p:nth-child(1) {
  margin-bottom: 15px;
  border-bottom: 2px solid #DB3F3F;
  font-size: 2em;
}

.container .sectionThird .content .mixContent .days .daySecond {
  margin: auto 40px;
}

.container .sectionThird .content .mixContent .days .daySecond p:nth-child(1) {
  margin-bottom: 15px;
  font-size: 2em;
  border-bottom: 2px solid #DB3F3F;
}

.container .sectionThird .content .mixContent .days .dayThird p:nth-child(1) {
  margin-bottom: 15px;
  border-bottom: 2px solid #DB3F3F;
  font-size: 2em;
}

.container .sectionThird .content .mixContent .h1 {
  font-size: 3em;
  margin-bottom: 40px;
}

.container .sectionThird .content .mixContent .h2 {
  font-size: 1em;
}

.container .sectionFourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container .sectionFourth .content {
  color: white;
  margin: 10% 5%;
  width: 80%;
  background: rgba(0, 0, 0, 0.568);
  border-bottom: 2px solid #DB3F3F;
}

.container .sectionFourth .content .mixContent {
  padding: 20px;
}

.container .sectionFourth .content .mixContent .h1 {
  font-size: 3em;
  margin-bottom: 40px;
}

.container .sectionFourth .content .mixContent .h2 {
  font-size: 1em;
}

.container .sectionFourth .content .mixContent .showCase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .sectionFourth .content .mixContent .showCase a:hover {
  cursor: pointer;
}

.container .sectionFourth .content .mixContent .showCase img {
  margin-right: 10px;
}

.container .sectionFifth,
.container .sectionSixth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container .sectionFifth .content,
.container .sectionSixth .content {
  color: white;
  margin: 10% 5%;
  width: 80%;
  background: rgba(0, 0, 0, 0.568);
  border-bottom: 2px solid #DB3F3F;
}

.container .sectionFifth .content .mixContent,
.container .sectionSixth .content .mixContent {
  padding: 20px;
}

.container .sectionFifth .content .mixContent iframe,
.container .sectionSixth .content .mixContent iframe {
  width: 100%;
  height: 50vw;
}

.container .sectionFifth .content .mixContent .h1,
.container .sectionSixth .content .mixContent .h1 {
  font-size: 3em;
  margin-bottom: 40px;
}

.container .sectionFifth .content .mixContent .h2,
.container .sectionSixth .content .mixContent .h2 {
  font-size: 1em;
}

.container .sectionFifth .content .mixContent .h2 a,
.container .sectionSixth .content .mixContent .h2 a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.container .sectionFifth .content .mixContent .h2 a:hover,
.container .sectionSixth .content .mixContent .h2 a:hover {
  color: #DB3F3F;
  cursor: pointer;
}

.container .sectionSeventh {
  color: #000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: whitesmoke;
}
/*# sourceMappingURL=style.css.map */